html,button,input,select,textarea { 
	color: $colorText;
}
html { 
	height:100%;
	width: 100%;

}
body {
	height:100%;
	width: 100%;
	@include fontNormal();
	font-size: 1em;
	color:$colorText;
}
img { 
	vertical-align: middle; 
}
p,ul,ol,h1,h2,h3,h4  { 
	margin:0;
	padding:0;
}
* { 
	@include box-sizing(border-box);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.invisible {
	display:none;
}
.clear { 
	clear:both;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
	display:block;
}
.rel { 
	position:relative; 
}
.h_inherit {
	height:inherit;
}
.pt10 {
	padding-top:10px;
}
.rel_inline {
	position:relative;
	display:inline-block;
}
.fleft { 
	float:left; 
}
.fright { 
	float:right; 
}

/* FONTS */
body {
	@include fontNormal();
	height:100%;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	font-size:1.5em;
	line-height:1.24;
	color:$colorBrand;
	margin:0 0 1em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
	font-size:1.875em;
	margin-bottom:1.2em;
}
h2 {
	font-size:1.25em;
	line-height:1.3;
	margin-bottom:0.9em;
}
h3 {
	font-size:1.125em;
}
h4 {
	font-size:1em;
}
strong {
	@include fontBold();
}

a {
	color: $colorBrand;
}
.maxWidth {
	width:100%;
	max-width:1024px;
	margin:0 auto;
}
.main_limit_width {
	width:100%;
	max-width:1376px;
	padding:0 20px;
	margin:0 auto;
}
.main_center_wrap {
	width:1024px;
	margin:0 auto;
	position:relative;
}
.main_content_wrap {
	background:#ffffff;
	padding:28px 33px;
	height:525px;
	position:relative;

	&:after {
		@include pseudoElement();
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(255,255,255,0.5);
		@include opacity(0);
		visibility: hidden;
		@include transition-duration(500ms);
		@include transition-property(opacity, visibility);
	}
}
.modal_open {
	.main_content_wrap {
		&:after {
			@include opacity(1);
			visibility: visible;
		}
	}
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1280px) {

}