/**************Loader before all images are loaded**************/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/loader-64x/Preloader_2.gif') center no-repeat #fff;
}

/**********************************************************/


#block-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallaxParent {
  //height: 100vh;
  //overflow: hidden;
}

.inside {
  //height: 200%;
  //position: relative;
  //top: -100%;
}

h1 {
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
  color: transparentize($colorWhite, 0.5);
}

.logo {
  position: absolute;
  width: 300px;
  height: 60px;
  top:60px;
  right: 60px;
  z-index: 2;
}

.dot-navigation {
  position: fixed;
  right: 30px;
  top: 50%;
  z-index: 1000;
  margin-top: -53px;
  overflow: visible;

  ul {
    padding: 0;
    overflow: visible;

    li {
      width: 20px;
      height: 20px;
      overflow: visible;
      margin-bottom: 10px;
      list-style-type: none;

      a {
        display: block;
        width: 20px;
        height: 20px;
        background-color: $colorRed;
        overflow: visible;
        background-position: top left;
        background-repeat: no-repeat;
        position: relative;

        &:hover {
          background-color: $colorWhite;
        }

        &.active {
          background-color: $colorWhite;
          @include transition-property(all);
          @include transition-duration(0.5s);
          @include transition-timing-function(ease);
        }
      }
      //&.active {
      //  background-color: $colorWhite;
      //
      //}
    }
  }
}

.btn-more {
  background-color: $colorRed;
  background-image: url('../images/btn_more.png');
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 60px;
  bottom: 15%;
  cursor: pointer;
  //z-index: 3;

  &:hover {
    background-color: $colorRedDark;
  }
}
.btn-minus {
  background-color: $colorRed;
  background-image: url('../images/btn_minus.png');
  background-repeat: no-repeat;
  background-size: 28px 6px;
  background-position: center;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 60px;
  bottom: 15%;
  cursor: pointer;

  &:hover {
    background-color: $colorRedDark;
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  top: auto;
  background-color: $colorRed;
  color: $colorWhite;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  width: 100%;
  @include fontNormal();
  font-weight: bold;
  z-index: 15;

  &:before {
    border-bottom: 30px solid $colorRed;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    bottom: 100%;
    content: "";
    position: absolute;
    z-index: 20;
    @include transform(translate(-50%, 0px));
    left: 50%;
  }
  h1 {
    color: $colorWhite;
  }

  &.toTop {
    top: 0;
    bottom: auto;
    @include transition-property(top);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-out);

    &:before {
      @include opacity(0);
      @include transition-property(opacity);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease);
    }

    &:after {
      border-top: 30px solid $colorRed;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      bottom: -30%;
      content: "";
      position: absolute;
      z-index: 20;
      @include transform(translate(-50%, 0px));
      left: 50%;
    }
  }
}

.block-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $colorWhite;
  width: 100%;
  height: 100%;
  visibility: hidden;
  color: $colorBrand;

  .inner {
    padding: 10% 5% 10%;
  }

  &.anim {
    visibility: visible;
    @include transition-property(all);
    @include transition-timing-function(ease-in-out);
    @include transition-duration(.5s);
    //z-index: 4;
  }

}

section {
  width: 100%;
  height: 100%;
  position: relative;
  //position: absolute;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  .bg {

    &.closed {
      @include transform(translate(0, -200%));
      @include transition-property(all);
      @include transition-duration(1s);
      @include transition-timing-function(ease);
      display: none;
    }
  }

}
